airflow
ansible
awscli
beautifulsoup4
cassandra-driver
celery==4.0.0rc6
certifi
cryptography
django-cors-headers
django-debug-toolbar
django-filter
django-moderation
django-orderable
django-rest-swagger
django-reversion
django-suit
django-treebeard
Django
djangorestframework-camel-case
djangorestframework
elasticsearch
Flask
flower
gists.cli
ipdb
ipython
itsdangerous
jsonfield
kafka-python
Markdown
mock
nose
numpy
pandas
pika
Pillow
pysqlite
python-dateutil
python-memcached
redis
requests[security]
SQLAlchemy
texttable
tornado
tox
uWSGI
virtualenv-clone
virtualenv
virtualenvwrapper
Werkzeug
